{% extends "blog/base.html" %}
{% block content %}

    <h3>The only purpose of this website is to bring us more closer to each other and let us be more tolerant to different views, Ideas and cultures. A question will be asked every 3 days, all you have to do is copy the question from the website as title of the post and express your views on that particular topic. Please keep the language as family friendly as possible, continuous violation of rules will result in an IP ban ( formal much ayy :D ). Thank you for reading this far now you may enjoy using this website. 
    For any problem you may contact the owner of this website using the Contact button above. 
    Heppy writing !!</h3>

{% endblock content %}