{% extends "blog/base.html" %}
{% block content %}
<h2>How can this website be useful for you?</h2>
<br>

    <h4> 1) The only purpose of this website is to bring us more closer to each other and let us be more tolerant to different views, Ideas and cultures. A question will be asked every 3 days, all you have to do is copy the question from the website as title of the post and express your views on that particular topic.
    </h4>
    <br>
    <h4> 2) Suppose you are interested in someone's online profile on instagram or somehwere else and you wanna know more about the person a little more before you approach them, sharing a link top their personal profile would let you know about the viewpoint of the person towards different things.</h4>
    <br>
        
    <h5>Please keep the language as family friendly as possible, continuous violation of rules will result in an IP ban ( formal much ayy :D ). Thank you for reading this far now you may enjoy using this website. 
    For any problem you may contact the owner of this website using the Contact button above. </h5>
     

{% endblock content %}
